head {
  display: none;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed; /*making header always positioned over otheer content - header fixed */
  display: flex; /* enabling positioning of a header with flex */
  z-index: 1;
  justify-content: left;
  gap: 5rem;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;

  background-color: transparent;

  color: white;

  width: 100%; /* Setting width of a header */
  padding: 0 0;
}

nav {
  display: flex; /* enabling positioning of content with flex */
  gap: 5rem; /* making gaps between elements */
  flex-direction: row; /*setting elements in direction suitable for page */
  align-items: center;
}
a {
  color: white;
}

.newalbum {
  background-image: url(./index-background.jpg);
}
.contactbg {
  background-image: url(contact-background.jpg);
}

.industry {
  z-index: -1;
  background-image: url(./image.jpg);
}

.feature {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: block;
}
div {
  display: block;
}

.post-meta {
  position: absolute;
  bottom: 200px;
  left: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
div {
  display: block;
}

.post-meta_tagline {
  text-transform: uppercase;
  font-weight: 100;
  opacity: 1;
  font-family: sans-serif;
  font-size: 1.5rem;
}
html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83;
  margin-block-end: 0.83;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#menu-div {
  margin-top: 300px;
  width: 80vw;
  height: 100%;
  
}

.itemDiv {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  padding: 1px;
  background-color: antiquewhite;
  opacity: 75%
  
   
}

.nameDescriptionDiv {
  display: flex;
}

.itemImg {
  flex-direction: column;

  height: 105px;
  
  width: 120px;
  position: absolute;
  
}

.itemName {
  margin: 200px;
  display: flex;
  margin-top: 1px;
  margin-bottom: 1px;
  
}

.itemDescription {
  margin-left: 2px;
  margin-right: 50px;
}

.itemPrice {
  margin-left: 200px;
}
.contact{
  left: 700px;
  top:227px;
}
.contact1{
  top: 227px;
  left: 200px;
}



