head {
  display: none;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed; /*making header always positioned over otheer content - header fixed */
  display: flex; 
  z-index: 1;
  justify-content:  left;
  gap: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: white;
  color: black;
  opacity: 65%;
  width: 100%; /* Setting width of a header */
  padding: 0 0;
}

nav {
  display: flex; /* enabling positioning of content with flex */
  gap: 5rem; /* making gaps between elements */
  flex-direction: row; /*setting elements in direction suitable for page */
  align-items: center;
  color: black;
 
}


p {
  
  text-indent: 20px;
  font-size: 20px;
}

a {
  color: black;
  font-size: 20px;
  text-align: center;
}

.nameDescriptionDiv {
  display: flex;
}

.newalbum {
  z-index: -1;
  background-image: url(./index-background.jpg);
}

.industry {
  z-index: 0;
  background-image: url(./image.jpg);
}

.feature {
  
  background-size: cover;
  background-position: center;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: block;
}
div {
  display: block;
}

.post-meta {
  background-image: url(./logoA.jpg);
  
  font-weight: 900;
  position: fixed;
  bottom: 2px;
  left: 3rem;
  background-color: antiquewhite;
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  max-height: 600px;
  text-align: justify;
  margin-left: 100px;
  line-height: 0.60;
  margin-bottom: 120px;
  margin-top: 80px;
  border-width: 20px;
  border-style: groove;
  border-color: black;
  opacity: 65%
}
div {
  display: block;
}

.post-meta_tagline {
  
  text-transform: uppercase;
  font-weight: 500;
  
  font-family: sans-serif;
  font-size: 1.5rem;
}
html,
body,



h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h2 {
  
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83;
  margin-block-end: 0.83;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#menu-div {
  margin-top: 300px;
  width: 80vw;
  height: 100%;
  
}

.itemDiv {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  padding: 1px;
  background-color: antiquewhite;
  opacity: 75%
   
}



.itemImg {
  flex-direction: column;

  height: 105px;
  
  width: 120px;
  position: absolute;
  
}

.itemName {
  margin: 200px;
  display: flex;
  margin-top: 1px;
  margin-bottom: 1px;
  
}

.itemDescription {
  margin-left: 2px;
  margin-right: 50px;
}

.itemPrice {
  margin-left: 200px;
}

#OffButton {
  font-size: 30px;
  border: solid;
  border-width: 2px;
  border-color: black;
  color: black;
  background-color: white;
  cursor: pointer;
}

#OffButton:hover {
  background-color: transparent;
  color: black;
}
